In [1]:
import pandas as pd
import numpy as np
import glob
import os
import sys
import xlrd

In [2]:
folder_path = '../local/2001_census/'

In [3]:
all_files = os.listdir(folder_path)

In [4]:
all_files.sort()

In [5]:
all_files

['Village Directory of Agra DistrictUttar Pradesh Table For Agra District Uttar Pradesh.xls',
 'Village Directory of Aligarh DistrictUttar Pradesh Table For Aligarh District Uttar Pradesh.xls',
 'Village Directory of Allahabad DistrictUttar Pradesh Table For Allahabad District Uttar Pradesh.xls',
 'Village Directory of Ambala DistrictHaryana Table For Ambala District Haryana.xls',
 'Village Directory of Ambedkar Nagar  DistrictUttar Pradesh Table For Ambedkar Nagar  District Uttar Pradesh.xls',
 'Village Directory of Amritsar DistrictPunjab Table For Mansa District Punjab.xls',
 'Village Directory of Araria DistrictBihar Table For Araria District Bihar.xls',
 'Village Directory of Auraiya  DistrictUttar Pradesh Table For Auraiya  District Uttar Pradesh.xls',
 'Village Directory of Aurangabad DistrictBihar Table For Aurangabad District Bihar.xls',
 'Village Directory of Azamgarh DistrictUttar Pradesh Table For Azamgarh District Uttar Pradesh.xls',
 'Village Directory of Baghpat  DistrictUttar Pradesh Table For Baghpat  District Uttar Pradesh.xls',
 'Village Directory of Bahraich DistrictUttar Pradesh Table For Bahraich District Uttar Pradesh.xls',
 'Village Directory of Ballia DistrictUttar Pradesh Table For Ballia District Uttar Pradesh.xls',
 'Village Directory of Balrampur  DistrictUttar Pradesh Table For Balrampur  District Uttar Pradesh.xls',
 'Village Directory of Banda DistrictUttar Pradesh Table For Banda District Uttar Pradesh.xls',
 'Village Directory of Banka DistrictBihar Table For Banka District Bihar.xls',
 'Village Directory of Bankura DistrictWest Bengal Table For Bankura District West Bengal.xls',
 'Village Directory of Barabanki DistrictUttar Pradesh Table For Barabanki District Uttar Pradesh.xls',
 'Village Directory of Barddhaman DistrictWest Bengal Table For Barddhaman District West Bengal.xls',
 'Village Directory of Bareilly DistrictUttar Pradesh Table For Bareilly District Uttar Pradesh.xls',
 'Village Directory of Basti DistrictUttar Pradesh Table For Basti District Uttar Pradesh.xls',
 'Village Directory of Bathinda DistrictPunjab Table For Muktsar District Punjab.xls',
 'Village Directory of Begusarai DistrictBihar Table For Begusarai District Bihar.xls',
 'Village Directory of Bhagalpur DistrictBihar Table For Bhagalpur District Bihar.xls',
 'Village Directory of Bhiwani DistrictHaryana Table For Bhiwani District Haryana.xls',
 'Village Directory of Bhojpur DistrictBihar Table For Bhojpur District Bihar.xls',
 'Village Directory of Bijnor DistrictUttar Pradesh Table For Bijnor District Uttar Pradesh.xls',
 'Village Directory of Birbhum DistrictWest Bengal Table For Birbhum District West Bengal.xls',
 'Village Directory of Bokaro DistrictJharkhand Table For Pakur District Jharkhand.xls',
 'Village Directory of Budaun DistrictUttar Pradesh Table For Budaun District Uttar Pradesh.xls',
 'Village Directory of Bulandshahar DistrictUttar Pradesh Table For Bulandshahar District Uttar Pradesh.xls',
 'Village Directory of Buxar DistrictBihar Table For Buxar District Bihar.xls',
 'Village Directory of Chandauli  DistrictUttar Pradesh Table For Chandauli  District Uttar Pradesh.xls',
 'Village Directory of Chatra DistrictJharkhand Table For Palamu District Jharkhand.xls',
 'Village Directory of Chitrakoot  DistrictUttar Pradesh Table For Chitrakoot  District Uttar Pradesh.xls',
 'Village Directory of Dakshin Dinajpur DistrictWest Bengal Table For Dakshin Dinajpur District West Bengal.xls',
 'Village Directory of Darbhanga DistrictBihar Table For Darbhanga District Bihar.xls',
 'Village Directory of Darjiling DistrictWest Bengal Table For Darjiling District West Bengal.xls',
 'Village Directory of Deoghar DistrictJharkhand Table For Kodarma District Jharkhand.xls',
 'Village Directory of Deoria DistrictUttar Pradesh Table For Deoria District Uttar Pradesh.xls',
 'Village Directory of Dhanbad DistrictJharkhand Table For Sahibganj District Jharkhand.xls',
 'Village Directory of Dumka DistrictJharkhand Table For Pashchimi Singhbhum District Jharkhand.xls',
 'Village Directory of Etah DistrictUttar Pradesh Table For Etah District Uttar Pradesh.xls',
 'Village Directory of Etawah DistrictUttar Pradesh Table For Etawah District Uttar Pradesh.xls',
 'Village Directory of Faizabad DistrictUttar Pradesh Table For Faizabad District Uttar Pradesh.xls',
 'Village Directory of Faridkot DistrictPunjab Table For Firozpur District Punjab.xls',
 'Village Directory of Farrukhabad DistrictUttar Pradesh Table For Farrukhabad District Uttar Pradesh.xls',
 'Village Directory of Fatehabad DistrictHaryana Table For Fatehabad District Haryana.xls',
 'Village Directory of Fatehgarh Sahib DistrictPunjab Table For Nawanshahr District Punjab.xls',
 'Village Directory of Fatehpur DistrictUttar Pradesh Table For Fatehpur District Uttar Pradesh.xls',
 'Village Directory of Firozabad DistrictUttar Pradesh Table For Firozabad District Uttar Pradesh.xls',
 'Village Directory of Firozpur DistrictPunjab Table For Ludhiana District Punjab.xls',
 'Village Directory of Garhwa DistrictJharkhand Table For Garhwa District Jharkhand.xls',
 'Village Directory of Gautam Buddha Nagar  DistrictUttar Pradesh Table For Gautam Buddha Nagar  District Uttar Pradesh.xls',
 'Village Directory of Gaya DistrictBihar Table For Gaya District Bihar.xls',
 'Village Directory of Ghaziabad DistrictUttar Pradesh Table For Ghaziabad District Uttar Pradesh.xls',
 'Village Directory of Ghazipur DistrictUttar Pradesh Table For Ghazipur District Uttar Pradesh.xls',
 'Village Directory of Giridih DistrictJharkhand Table For Hazaribagh District Jharkhand.xls',
 'Village Directory of Godda DistrictJharkhand Table For Giridih District Jharkhand.xls',
 'Village Directory of Gonda DistrictUttar Pradesh Table For Gonda District Uttar Pradesh.xls',
 'Village Directory of Gopalganj DistrictBihar Table For Gopalganj District Bihar.xls',
 'Village Directory of Gorakhpur DistrictUttar Pradesh Table For Gorakhpur District Uttar Pradesh.xls',
 'Village Directory of Gurdaspur DistrictPunjab Table For Gurdaspur District Punjab.xls',
 'Village Directory of Gurgaon DistrictHaryana Table For Gurgaon District Haryana.xls',
 'Village Directory of Hamirpur DistrictUttar Pradesh Table For Hamirpur District Uttar Pradesh.xls',
 'Village Directory of Haora DistrictWest Bengal Table For Madinipur District West Bengal.xls',
 'Village Directory of Hardoi DistrictUttar Pradesh Table For Hardoi District Uttar Pradesh.xls',
 'Village Directory of Hathras  DistrictUttar Pradesh Table For Hathras  District Uttar Pradesh.xls',
 'Village Directory of Hazaribagh DistrictJharkhand Table For Lohardaga District Jharkhand.xls',
 'Village Directory of Hisar DistrictHaryana Table For Hisar District Haryana.xls',
 'Village Directory of Hoshiarpur DistrictPunjab Table For Jalandhar District Punjab.xls',
 'Village Directory of Hugli DistrictWest Bengal Table For Hugli District West Bengal.xls',
 'Village Directory of Jalandhar DistrictPunjab Table For Kapurthala District Punjab.xls',
 'Village Directory of Jalaun DistrictUttar Pradesh Table For Jalaun District Uttar Pradesh.xls',
 'Village Directory of Jalpaiguri DistrictWest Bengal Table For Jalpaiguri District West Bengal.xls',
 'Village Directory of Jamtara DistrictJharkhand Table For Purbi Singhbhum District Jharkhand.xls',
 'Village Directory of Jamui DistrictBihar Table For Jamui District Bihar.xls',
 'Village Directory of Jaunpur DistrictUttar Pradesh Table For Jaunpur District Uttar Pradesh.xls',
 'Village Directory of Jehanabad DistrictBihar Table For Jehanabad District Bihar.xls',
 'Village Directory of Jhajjar DistrictHaryana Table For Jhajjar District Haryana.xls',
 'Village Directory of Jhansi DistrictUttar Pradesh Table For Jhansi District Uttar Pradesh.xls',
 'Village Directory of Jind DistrictHaryana Table For Jind District Haryana.xls',
 'Village Directory of Jyotiba Phule Nagar  DistrictUttar Pradesh Table For Jyotiba Phule Nagar  District Uttar Pradesh.xls',
 'Village Directory of Kaimur (Bhabua) DistrictBihar Table For Kaimur (Bhabua) District Bihar.xls',
 'Village Directory of Kaithal DistrictHaryana Table For Kaithal District Haryana.xls',
 'Village Directory of Kannauj  DistrictUttar Pradesh Table For Kannauj  District Uttar Pradesh.xls',
 'Village Directory of Kanpur Dehat DistrictUttar Pradesh Table For Kanpur Dehat District Uttar Pradesh.xls',
 'Village Directory of Kanpur Nagar DistrictUttar Pradesh Table For Kanpur Nagar District Uttar Pradesh.xls',
 'Village Directory of Kapurthala DistrictPunjab Table For Amritsar District Punjab.xls',
 'Village Directory of Karnal DistrictHaryana Table For Karnal District Haryana.xls',
 'Village Directory of Katihar DistrictBihar Table For Katihar District Bihar.xls',
 'Village Directory of Kaushambi  DistrictUttar Pradesh Table For Kaushambi  District Uttar Pradesh.xls',
 'Village Directory of Khagaria DistrictBihar Table For Khagaria District Bihar.xls',
 'Village Directory of Kheri DistrictUttar Pradesh Table For Kheri District Uttar Pradesh.xls',
 'Village Directory of Kishanganj DistrictBihar Table For Kishanganj District Bihar.xls',
 'Village Directory of Koch Bihar DistrictWest Bengal Table For Koch Bihar District West Bengal.xls',
 'Village Directory of Kodarma DistrictJharkhand Table For Chatra District Jharkhand.xls',
 'Village Directory of Kolkata DistrictWest Bengal Table For Haora District West Bengal.xls',
 'Village Directory of Kurukshetra DistrictHaryana Table For Kurukshetra District Haryana.xls',
 'Village Directory of Kushinagar  DistrictUttar Pradesh Table For Kushinagar  District Uttar Pradesh.xls',
 'Village Directory of Lakhisarai DistrictBihar Table For Lakhisarai District Bihar.xls',
 'Village Directory of Lalitpur DistrictUttar Pradesh Table For Lalitpur District Uttar Pradesh.xls',
 'Village Directory of Latehar DistrictJharkhand Table For Ranchi District Jharkhand.xls',
 'Village Directory of Lohardaga DistrictJharkhand Table For Dumka District Jharkhand.xls',
 'Village Directory of Lucknow DistrictUttar Pradesh Table For Lucknow District Uttar Pradesh.xls',
 'Village Directory of Ludhiana DistrictPunjab Table For Rupnagar District Punjab.xls',
 'Village Directory of Madhepura DistrictBihar Table For Madhepura District Bihar.xls',
 'Village Directory of Madhubani DistrictBihar Table For Madhubani District Bihar.xls',
 'Village Directory of Mahendragarh DistrictHaryana Table For Mahendragarh District Haryana.xls',
 'Village Directory of Mahoba  DistrictUttar Pradesh Table For Mahoba  District Uttar Pradesh.xls',
 'Village Directory of Mahrajganj DistrictUttar Pradesh Table For Mahrajganj District Uttar Pradesh.xls',
 'Village Directory of Mainpuri DistrictUttar Pradesh Table For Mainpuri District Uttar Pradesh.xls',
 'Village Directory of Maldah DistrictWest Bengal Table For Maldah District West Bengal.xls',
 'Village Directory of Mansa DistrictPunjab Table For Faridkot District Punjab.xls',
 'Village Directory of Mathura DistrictUttar Pradesh Table For Mathura District Uttar Pradesh.xls',
 'Village Directory of Mau DistrictUttar Pradesh Table For Mau District Uttar Pradesh.xls',
 'Village Directory of Meerut DistrictUttar Pradesh Table For Meerut District Uttar Pradesh.xls',
 'Village Directory of Mewat DistrictHaryana Table For Faridabad District Haryana.xls',
 'Village Directory of Mirzapur DistrictUttar Pradesh Table For Mirzapur District Uttar Pradesh.xls',
 'Village Directory of Moga DistrictPunjab Table For Fatehgarh Sahib District Punjab.xls',
 'Village Directory of Moradabad DistrictUttar Pradesh Table For Moradabad District Uttar Pradesh.xls',
 'Village Directory of Muktsar DistrictPunjab Table For Moga District Punjab.xls',
 'Village Directory of Munger DistrictBihar Table For Munger District Bihar.xls',
 'Village Directory of Murshidabad DistrictWest Bengal Table For Murshidabad District West Bengal.xls',
 'Village Directory of Muzaffarnagar DistrictUttar Pradesh Table For Muzaffarnagar District Uttar Pradesh.xls',
 'Village Directory of Muzaffarpur DistrictBihar Table For Muzaffarpur District Bihar.xls',
 'Village Directory of Nadia DistrictWest Bengal Table For Nadia District West Bengal.xls',
 'Village Directory of Nalanda DistrictBihar Table For Nalanda District Bihar.xls',
 'Village Directory of Nawada DistrictBihar Table For Nawada District Bihar.xls',
 'Village Directory of North Twenty Four Parganas DistrictWest Bengal Table For North Twenty Four Parganas District West Bengal.xls',
 'Village Directory of Pakur DistrictJharkhand Table For Godda District Jharkhand.xls',
 'Village Directory of Palamu DistrictJharkhand Table For Bokaro District Jharkhand.xls',
 'Village Directory of Panchkula DistrictHaryana Table For Panchkula District Haryana.xls',
 'Village Directory of Panipat DistrictHaryana Table For Panipat District Haryana.xls',
 'Village Directory of Paschim Medinipur DistrictWest Bengal Table For South  Twenty Four Parganas District West Bengal.xls',
 'Village Directory of Pashchim Champaran DistrictBihar Table For Pashchim Champaran District Bihar.xls',
 'Village Directory of Patiala DistrictPunjab Table For Bathinda District Punjab.xls',
 'Village Directory of Patna DistrictBihar Table For Patna District Bihar.xls',
 'Village Directory of Pilibhit DistrictUttar Pradesh Table For Pilibhit District Uttar Pradesh.xls',
 'Village Directory of Pratapgarh DistrictUttar Pradesh Table For Pratapgarh District Uttar Pradesh.xls',
 'Village Directory of Purba Champaran DistrictBihar Table For Purba Champaran District Bihar.xls',
 'Village Directory of Purbi Singhbhum DistrictJharkhand Table For Dhanbad District Jharkhand.xls',
 'Village Directory of Purnia DistrictBihar Table For Purnia District Bihar.xls',
 'Village Directory of Puruliya DistrictWest Bengal Table For Puruliya District West Bengal.xls',
 'Village Directory of Rae Bareli DistrictUttar Pradesh Table For Rae Bareli District Uttar Pradesh.xls',
 'Village Directory of Ramgarh DistrictJharkhand Table For Gumla District Jharkhand.xls',
 'Village Directory of Rampur DistrictUttar Pradesh Table For Rampur District Uttar Pradesh.xls',
 'Village Directory of Rewari DistrictHaryana Table For Rewari District Haryana.xls',
 'Village Directory of Rohtak DistrictHaryana Table For Rohtak District Haryana.xls',
 'Village Directory of Rohtas DistrictBihar Table For Rohtas District Bihar.xls',
 'Village Directory of Rupnagar DistrictPunjab Table For Patiala District Punjab.xls',
 'Village Directory of Saharanpur DistrictUttar Pradesh Table For Saharanpur District Uttar Pradesh.xls',
 'Village Directory of Saharsa DistrictBihar Table For Saharsa District Bihar.xls',
 'Village Directory of Sahibganj DistrictJharkhand Table For Deoghar District Jharkhand.xls',
 'Village Directory of Samastipur DistrictBihar Table For Samastipur District Bihar.xls',
 'Village Directory of Sant Kabir Nagar  DistrictUttar Pradesh Table For Sant Kabir Nagar  District Uttar Pradesh.xls',
 'Village Directory of Sant Ravidas Nagar  DistrictUttar Pradesh Table For Sant Ravidas Nagar  District Uttar Pradesh.xls',
 'Village Directory of Saran DistrictBihar Table For Saran District Bihar.xls',
 'Village Directory of Shahid Bhagat Singh Nagar DistrictPunjab Table For Hoshiarpur District Punjab.xls',
 'Village Directory of Shahjahanpur DistrictUttar Pradesh Table For Shahjahanpur District Uttar Pradesh.xls',
 'Village Directory of Sheikhpura DistrictBihar Table For Sheikhpura District Bihar.xls',
 'Village Directory of Sheohar DistrictBihar Table For Sheohar District Bihar.xls',
 'Village Directory of Shrawasti  DistrictUttar Pradesh Table For Shrawasti  District Uttar Pradesh.xls',
 'Village Directory of Siddharthnagar DistrictUttar Pradesh Table For Siddharthnagar District Uttar Pradesh.xls',
 'Village Directory of Sirsa DistrictHaryana Table For Sirsa District Haryana.xls',
 'Village Directory of Sitamarhi DistrictBihar Table For Sitamarhi District Bihar.xls',
 'Village Directory of Sitapur DistrictUttar Pradesh Table For Sitapur District Uttar Pradesh.xls',
 'Village Directory of Siwan DistrictBihar Table For Siwan District Bihar.xls',
 'Village Directory of Sonbhadra DistrictUttar Pradesh Table For Sonbhadra District Uttar Pradesh.xls',
 'Village Directory of Sonipat DistrictHaryana Table For Sonipat District Haryana.xls',
 'Village Directory of Sultanpur DistrictUttar Pradesh Table For Sultanpur District Uttar Pradesh.xls',
 'Village Directory of Supaul DistrictBihar Table For Supaul District Bihar.xls',
 'Village Directory of Tarn Taran DistrictPunjab Table For Sangrur District Punjab.xls',
 'Village Directory of Unnao DistrictUttar Pradesh Table For Unnao District Uttar Pradesh.xls',
 'Village Directory of Uttar Dinajpur DistrictWest Bengal Table For Uttar Dinajpur District West Bengal.xls',
 'Village Directory of Vaishali DistrictBihar Table For Vaishali District Bihar.xls',
 'Village Directory of Varanasi DistrictUttar Pradesh Table For Varanasi District Uttar Pradesh.xls',
 'Village Directory of Yamunanagar DistrictHaryana Table For Yamunanagar District Haryana.xls']

In [6]:
pd.read_excel(os.path.join(folder_path,all_files[0]))

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,T_HH,T_P,T_M,...,TW_W_EL,TANK_IRR,RIVER_IRR,LAKE_IRR,W_FALL,OTH_IRR,TOT_IRR,UN_IRR,CULT_WASTE,AREA_NA_CU
0,9,15,1,136,1563000,Sorai,364.0,491,3240,1739,...,0.0,0.0,0.0,0.0,0.0,0.0,329.0,135.0,0.0,33.0
1,9,15,1,136,1563100,Parbatpur,108.0,91,621,338,...,0.0,0.0,0.0,0.0,0.0,0.0,104.0,27.0,0.0,9.0
2,9,15,1,136,1563200,Pant Khara,372.0,760,4998,2741,...,0.0,0.0,0.0,0.0,0.0,0.0,331.0,104.0,0.0,37.0
3,9,15,1,136,1563300,Hazipur Khera,712.0,328,2464,1356,...,0.0,0.0,0.0,0.0,0.0,0.0,445.0,577.0,0.0,9.0
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,304,1786,985,...,0.0,0.0,0.0,0.0,0.0,0.0,107.0,141.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,9,15,6,150,1656300,Khilawali,1717.0,580,3847,2174,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,9,15,6,150,1656400,Shahapur Goojar,423.0,258,1520,838,...,29.0,0.0,0.0,0.0,0.0,0.0,29.0,241.0,0.0,19.0
935,9,15,6,150,1656500,Korath,560.0,291,1944,1033,...,5.0,0.0,0.0,0.0,0.0,0.0,5.0,95.0,0.0,79.0
936,9,15,6,150,1656600,Kamoni,259.0,119,671,353,...,6.0,0.0,0.0,0.0,0.0,0.0,6.0,19.0,0.0,28.0
937,9,15,6,150,1656700,Udaypur Khurd,0.0,45,396,225,...,4.0,0.0,0.0,0.0,0.0,0.0,4.0,49.0,0.0,0.0

In [7]:
pd.read_excel(os.path.join(folder_path,all_files[0])).columns

Index(['ST_CODE', 'DIST_CODE', 'THSIL_CODE', 'BLOCK_CODE', 'V_CT_CODE',
       'VILL_NAME', 'AREA', 'T_HH', 'T_P', 'T_M',
       ...
       'TW_W_EL', 'TANK_IRR', 'RIVER_IRR', 'LAKE_IRR', 'W_FALL', 'OTH_IRR',
       'TOT_IRR', 'UN_IRR', 'CULT_WASTE', 'AREA_NA_CU'],
      dtype='object', length=141)

In [9]:
df_list = []

In [10]:
for fl in all_files :
    df_list.append(pd.read_excel(os.path.join(folder_path,fl)))

In [11]:
len(df_list)

178

In [75]:
complete_data_2001_raw = pd.concat(df_list)

In [76]:
complete_data_2001_raw

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,T_HH,T_P,T_M,...,RIVER_IRR,LAKE_IRR,W_FALL,OTH_IRR,TOT_IRR,UN_IRR,CULT_WASTE,AREA_NA_CU,Unnamed: 121,Unnamed: 69
0,9,15,1,136,1563000,Sorai,364.0,491,3240,1739,...,0.0,0.0,0.0,0.0,329.0,135.0,0.0,33.0,NaN,NaN
1,9,15,1,136,1563100,Parbatpur,108.0,91,621,338,...,0.0,0.0,0.0,0.0,104.0,27.0,0.0,9.0,NaN,NaN
2,9,15,1,136,1563200,Pant Khara,372.0,760,4998,2741,...,0.0,0.0,0.0,0.0,331.0,104.0,0.0,37.0,NaN,NaN
3,9,15,1,136,1563300,Hazipur Khera,712.0,328,2464,1356,...,0.0,0.0,0.0,0.0,445.0,577.0,0.0,9.0,NaN,NaN
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,304,1786,985,...,0.0,0.0,0.0,0.0,107.0,141.0,0.0,9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,7,46,19,...,0.0,0.0,0.0,0.0,20.0,2.0,0.0,4.0,NaN,NaN
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,17,77,42,...,0.0,0.0,0.0,0.0,25.0,4.0,0.0,3.0,NaN,NaN
636,6,3,2,2,136600,YARAH (21),61.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
637,6,3,2,2,136700,TAHRI (27),103.0,19,161,86,...,0.0,0.0,0.0,0.0,32.0,44.0,14.0,13.0,NaN,NaN
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,230,1373,721,...,59.0,0.0,0.0,0.0,59.0,167.0,11.0,36.0,NaN,NaN

In [77]:
ls = [ele for ele in complete_data_2001_raw.columns]
ls.sort()

In [78]:
for ele in ls :
    print(ele)

AC_SOC
ADLT_LT_CT
ALL_DISP
ALL_HOSP
APP_FP
APP_MR
APP_NAVCAN
APP_NAVRIV
APP_NW
APP_PR
AREA
AREA_NA_CU
AYU_DISP
AYU_HOSP
A_INCEXP
BANK_FAC
BLOCK_CODE
BS_FAC
CANAL
CANAL_GOVT
CANAL_PVT
CHW
COLLEGE
COMM_BANK
COMM_FAC
COOP_BANK
CRSOC_FAC
CULT_WASTE
CWC
C_V_HALL
DIST_CODE
DIST_TOWN
DRNK_WAT_F
EDU_FAC
FWC_CNTR
HANDPUMP
HOM_DISP
HOM_HOSP
H_CNTR
IND_SCH
LAKE
LAKE_IRR
LAND_FORES
MAGAZINE
MAN_COMM1
MAN_COMM2
MAN_COMM3
MCW_CNTR
MEDI_FAC
M_HOME
M_SCH
NAC_SOC
NEAR_TOWN
NEWS_PAP
NW_FAC
N_HOME
OTHER
OTHER_SOC
OTH_CNTR
OTH_IRR
OTH_SCH
PAP_MAG
PHONE
PHS_CNT
PH_CNTR
POST_OFF
POST_TELE
POWER_AGR
POWER_ALL
POWER_DOM
POWER_OTH
POWER_SUPL
P_SCH
P_T_FAC
RANG_ACS
RANG_ALL
RANG_BS
RANG_COLL
RANG_COMM
RANG_COOP
RANG_CV
RANG_MCW
RANG_M_SCH
RANG_NAC
RANG_NW
RANG_OTH
RANG_PHC
RANG_PHONE
RANG_PO
RANG_P_SCH
RANG_RS
RANG_SPCL
RANG_SS
RANG_STAU
RANG_WAT_F
RC_FAC
RIVER
RIVER_IRR
RMP
RS_FAC
SC_F
SC_M
SC_P
SMP
SOU_SUMM
SPRING
SP_CL_FAC
SS_CODE
ST_AU_FAC
ST_CODE
ST_F
ST_M
ST_P
S_SCH
S_S_SCH
TANK
TANK_IRR
TAP
TB_CLN
TELE_OFF
THSIL_CODE
TOT_EXP
TOT_INC
TOT_IRR
TR_SCH
TUBEWELL
TW_WO_EL
TW_W_EL
T_F
T_HH
T_M
T_P
UN_DISP
UN_HOSP
UN_IRR
Unnamed: 121
Unnamed: 69
VILL_NAME
V_CT_CODE
WELL
WELL_WO_EL
WELL_W_EL
W_FALL

In [79]:
for ele in complete_data_2001_raw.isna().sum():
    print(ele)

0
0
0
0
0
0
9
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
102509
0
245285
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
22274
0
0
0
0
0
0
0
160520
188875
0
0
284
203551
233128
240200
31
18
27
58
59
15
13
43
35
33
24
23
8
14
22
73
245320
245604

In [80]:
ls1 = [ele for ele in complete_data_2001_raw.columns]

In [82]:
i = 0
for ele in complete_data_2001_raw.isna().sum():
    print(ele," ",ls1[i])
    i = i + 1

0   ST_CODE
0   DIST_CODE
0   THSIL_CODE
0   BLOCK_CODE
0   V_CT_CODE
0   VILL_NAME
9   AREA
0   T_HH
0   T_P
0   T_M
0   T_F
0   SC_P
0   SC_M
0   SC_F
0   ST_P
0   ST_M
0   ST_F
0   EDU_FAC
0   P_SCH
0   RANG_P_SCH
0   M_SCH
0   RANG_M_SCH
0   S_SCH
0   S_S_SCH
0   COLLEGE
0   RANG_COLL
0   IND_SCH
0   TR_SCH
0   ADLT_LT_CT
0   OTH_SCH
0   MEDI_FAC
0   ALL_HOSP
0   RANG_ALL
0   AYU_HOSP
0   UN_HOSP
0   HOM_HOSP
0   ALL_DISP
0   AYU_DISP
0   UN_DISP
0   HOM_DISP
0   MCW_CNTR
0   RANG_MCW
0   M_HOME
0   CWC
0   H_CNTR
0   PH_CNTR
0   RANG_PHC
0   PHS_CNT
0   FWC_CNTR
0   TB_CLN
0   N_HOME
0   RMP
0   SMP
0   CHW
0   OTH_CNTR
0   DRNK_WAT_F
0   RANG_WAT_F
0   TAP
0   WELL
0   TANK
0   TUBEWELL
0   HANDPUMP
0   RIVER
0   CANAL
0   LAKE
0   SPRING
0   OTHER
102509   SOU_SUMM
0   RANG_SS
245285   SS_CODE
0   P_T_FAC
0   POST_OFF
0   RANG_PO
0   TELE_OFF
0   POST_TELE
0   PHONE
0   RANG_PHONE
0   COMM_FAC
0   BS_FAC
0   RANG_BS
0   RS_FAC
0   RANG_RS
0   NW_FAC
0   RANG_NW
0   BANK_FAC
0   COMM_BANK
0   RANG_COMM
0   COOP_BANK
0   RANG_COOP
0   CRSOC_FAC
0   AC_SOC
0   RANG_ACS
0   NAC_SOC
0   RANG_NAC
0   OTHER_SOC
0   RANG_OTH
0   RC_FAC
0   C_V_HALL
0   RANG_CV
0   SP_CL_FAC
0   RANG_SPCL
0   ST_AU_FAC
0   RANG_STAU
0   APP_PR
0   APP_MR
0   APP_FP
0   APP_NAVRIV
0   APP_NAVCAN
0   APP_NW
22274   NEAR_TOWN
0   DIST_TOWN
0   POWER_SUPL
0   POWER_DOM
0   POWER_AGR
0   POWER_OTH
0   POWER_ALL
0   PAP_MAG
160520   NEWS_PAP
188875   MAGAZINE
0   A_INCEXP
0   TOT_INC
284   TOT_EXP
203551   MAN_COMM1
233128   MAN_COMM2
240200   MAN_COMM3
31   LAND_FORES
18   CANAL_GOVT
27   CANAL_PVT
58   WELL_WO_EL
59   WELL_W_EL
15   TW_WO_EL
13   TW_W_EL
43   TANK_IRR
35   RIVER_IRR
33   LAKE_IRR
24   W_FALL
23   OTH_IRR
8   TOT_IRR
14   UN_IRR
22   CULT_WASTE
73   AREA_NA_CU
245320   Unnamed: 121
245604   Unnamed: 69

In [27]:
i = 0
for df in df_list :
    if 'ST_CODE' not in df.columns :
        df.rename(columns={'ST_Code':'ST_CODE'}, inplace=True)
        print(i)
    i = i+1

169

In [28]:
i = 0
for df in df_list :
    if 'DRNK_WAT_F' not in df.columns :
        df.rename(columns={'DR_WAT':'DRNK_WAT_F'}, inplace=True)
        print(i)
    i = i+1

169
177

In [35]:
complete_data_2001 = pd.concat(df_list,ignore_index=True)

In [36]:
complete_data_2001

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,T_HH,T_P,T_M,...,RIVER_IRR,LAKE_IRR,W_FALL,OTH_IRR,TOT_IRR,UN_IRR,CULT_WASTE,AREA_NA_CU,Unnamed: 121,Unnamed: 69
0,9,15,1,136,1563000,Sorai,364.0,491,3240,1739,...,0.0,0.0,0.0,0.0,329.0,135.0,0.0,33.0,NaN,NaN
1,9,15,1,136,1563100,Parbatpur,108.0,91,621,338,...,0.0,0.0,0.0,0.0,104.0,27.0,0.0,9.0,NaN,NaN
2,9,15,1,136,1563200,Pant Khara,372.0,760,4998,2741,...,0.0,0.0,0.0,0.0,331.0,104.0,0.0,37.0,NaN,NaN
3,9,15,1,136,1563300,Hazipur Khera,712.0,328,2464,1356,...,0.0,0.0,0.0,0.0,445.0,577.0,0.0,9.0,NaN,NaN
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,304,1786,985,...,0.0,0.0,0.0,0.0,107.0,141.0,0.0,9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245599,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,7,46,19,...,0.0,0.0,0.0,0.0,20.0,2.0,0.0,4.0,NaN,NaN
245600,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,17,77,42,...,0.0,0.0,0.0,0.0,25.0,4.0,0.0,3.0,NaN,NaN
245601,6,3,2,2,136600,YARAH (21),61.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
245602,6,3,2,2,136700,TAHRI (27),103.0,19,161,86,...,0.0,0.0,0.0,0.0,32.0,44.0,14.0,13.0,NaN,NaN
245603,6,3,2,2,136800,IBRAHIMPUR (29),273.0,230,1373,721,...,59.0,0.0,0.0,0.0,59.0,167.0,11.0,36.0,NaN,NaN

In [37]:
i = 0
for ele in complete_data_2001.isna().sum():
    print(ele," ",ls1[i])
    i = i + 1

0   ST_CODE
0   DIST_CODE
0   THSIL_CODE
0   BLOCK_CODE
0   V_CT_CODE
0   VILL_NAME
9   AREA
0   T_HH
0   T_P
0   T_M
0   T_F
0   SC_P
0   SC_M
0   SC_F
0   ST_P
0   ST_M
0   ST_F
0   EDU_FAC
0   P_SCH
0   RANG_P_SCH
0   M_SCH
0   RANG_M_SCH
0   S_SCH
0   S_S_SCH
0   COLLEGE
0   RANG_COLL
0   IND_SCH
0   TR_SCH
0   ADLT_LT_CT
0   OTH_SCH
0   MEDI_FAC
0   ALL_HOSP
0   RANG_ALL
0   AYU_HOSP
0   UN_HOSP
0   HOM_HOSP
0   ALL_DISP
0   AYU_DISP
0   UN_DISP
0   HOM_DISP
0   MCW_CNTR
0   RANG_MCW
0   M_HOME
0   CWC
0   H_CNTR
0   PH_CNTR
0   RANG_PHC
0   PHS_CNT
0   FWC_CNTR
0   TB_CLN
0   N_HOME
0   RMP
0   SMP
0   CHW
0   OTH_CNTR
0   DRNK_WAT_F
0   RANG_WAT_F
0   TAP
0   WELL
0   TANK
0   TUBEWELL
0   HANDPUMP
0   RIVER
0   CANAL
0   LAKE
0   SPRING
0   OTHER
102509   SOU_SUMM
0   RANG_SS
245285   SS_CODE
0   P_T_FAC
0   POST_OFF
0   RANG_PO
0   TELE_OFF
0   POST_TELE
0   PHONE
0   RANG_PHONE
0   COMM_FAC
0   BS_FAC
0   RANG_BS
0   RS_FAC
0   RANG_RS
0   NW_FAC
0   RANG_NW
0   BANK_FAC
0   COMM_BANK
0   RANG_COMM
0   COOP_BANK
0   RANG_COOP
0   CRSOC_FAC
0   AC_SOC
0   RANG_ACS
0   NAC_SOC
0   RANG_NAC
0   OTHER_SOC
0   RANG_OTH
0   RC_FAC
0   C_V_HALL
0   RANG_CV
0   SP_CL_FAC
0   RANG_SPCL
0   ST_AU_FAC
0   RANG_STAU
0   APP_PR
0   APP_MR
0   APP_FP
0   APP_NAVRIV
0   APP_NAVCAN
0   APP_NW
22274   NEAR_TOWN
0   DIST_TOWN
0   POWER_SUPL
0   POWER_DOM
0   POWER_AGR
0   POWER_OTH
0   POWER_ALL
0   PAP_MAG
160520   NEWS_PAP
188875   MAGAZINE
0   A_INCEXP
0   TOT_INC
284   TOT_EXP
203551   MAN_COMM1
233128   MAN_COMM2
240200   MAN_COMM3
31   LAND_FORES
18   CANAL_GOVT
27   CANAL_PVT
58   WELL_WO_EL
59   WELL_W_EL
15   TW_WO_EL
13   TW_W_EL
43   TANK_IRR
35   RIVER_IRR
33   LAKE_IRR
24   W_FALL
23   OTH_IRR
8   TOT_IRR
14   UN_IRR
22   CULT_WASTE
73   AREA_NA_CU
245320   Unnamed: 121
245604   Unnamed: 69

In [83]:
dropped_cols = ['SOU_SUMM', 'SS_CODE','NEAR_TOWN','NEWS_PAP','MAGAZINE','MAN_COMM1','MAN_COMM2','MAN_COMM3','Unnamed: 121','Unnamed: 69']

In [86]:
complete_data_2001_preproc1 = complete_data_2001_raw.drop(columns=dropped_cols)

In [87]:
complete_data_2001_preproc1

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,T_HH,T_P,T_M,...,TW_W_EL,TANK_IRR,RIVER_IRR,LAKE_IRR,W_FALL,OTH_IRR,TOT_IRR,UN_IRR,CULT_WASTE,AREA_NA_CU
0,9,15,1,136,1563000,Sorai,364.0,491,3240,1739,...,0.0,0.0,0.0,0.0,0.0,0.0,329.0,135.0,0.0,33.0
1,9,15,1,136,1563100,Parbatpur,108.0,91,621,338,...,0.0,0.0,0.0,0.0,0.0,0.0,104.0,27.0,0.0,9.0
2,9,15,1,136,1563200,Pant Khara,372.0,760,4998,2741,...,0.0,0.0,0.0,0.0,0.0,0.0,331.0,104.0,0.0,37.0
3,9,15,1,136,1563300,Hazipur Khera,712.0,328,2464,1356,...,0.0,0.0,0.0,0.0,0.0,0.0,445.0,577.0,0.0,9.0
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,304,1786,985,...,0.0,0.0,0.0,0.0,0.0,0.0,107.0,141.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,7,46,19,...,20.0,0.0,0.0,0.0,0.0,0.0,20.0,2.0,0.0,4.0
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,17,77,42,...,18.0,0.0,0.0,0.0,0.0,0.0,25.0,4.0,0.0,3.0
636,6,3,2,2,136600,YARAH (21),61.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,6,3,2,2,136700,TAHRI (27),103.0,19,161,86,...,32.0,0.0,0.0,0.0,0.0,0.0,32.0,44.0,14.0,13.0
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,230,1373,721,...,0.0,0.0,59.0,0.0,0.0,0.0,59.0,167.0,11.0,36.0

In [88]:
ls1 = [ele for ele in complete_data_2001_preproc1.columns]

In [90]:
i = 0
for ele in complete_data_2001_preproc1.isna().sum():
    print(ele," ",ls1[i])
    i = i + 1

0   ST_CODE
0   DIST_CODE
0   THSIL_CODE
0   BLOCK_CODE
0   V_CT_CODE
0   VILL_NAME
9   AREA
0   T_HH
0   T_P
0   T_M
0   T_F
0   SC_P
0   SC_M
0   SC_F
0   ST_P
0   ST_M
0   ST_F
0   EDU_FAC
0   P_SCH
0   RANG_P_SCH
0   M_SCH
0   RANG_M_SCH
0   S_SCH
0   S_S_SCH
0   COLLEGE
0   RANG_COLL
0   IND_SCH
0   TR_SCH
0   ADLT_LT_CT
0   OTH_SCH
0   MEDI_FAC
0   ALL_HOSP
0   RANG_ALL
0   AYU_HOSP
0   UN_HOSP
0   HOM_HOSP
0   ALL_DISP
0   AYU_DISP
0   UN_DISP
0   HOM_DISP
0   MCW_CNTR
0   RANG_MCW
0   M_HOME
0   CWC
0   H_CNTR
0   PH_CNTR
0   RANG_PHC
0   PHS_CNT
0   FWC_CNTR
0   TB_CLN
0   N_HOME
0   RMP
0   SMP
0   CHW
0   OTH_CNTR
0   DRNK_WAT_F
0   RANG_WAT_F
0   TAP
0   WELL
0   TANK
0   TUBEWELL
0   HANDPUMP
0   RIVER
0   CANAL
0   LAKE
0   SPRING
0   OTHER
0   RANG_SS
0   P_T_FAC
0   POST_OFF
0   RANG_PO
0   TELE_OFF
0   POST_TELE
0   PHONE
0   RANG_PHONE
0   COMM_FAC
0   BS_FAC
0   RANG_BS
0   RS_FAC
0   RANG_RS
0   NW_FAC
0   RANG_NW
0   BANK_FAC
0   COMM_BANK
0   RANG_COMM
0   COOP_BANK
0   RANG_COOP
0   CRSOC_FAC
0   AC_SOC
0   RANG_ACS
0   NAC_SOC
0   RANG_NAC
0   OTHER_SOC
0   RANG_OTH
0   RC_FAC
0   C_V_HALL
0   RANG_CV
0   SP_CL_FAC
0   RANG_SPCL
0   ST_AU_FAC
0   RANG_STAU
0   APP_PR
0   APP_MR
0   APP_FP
0   APP_NAVRIV
0   APP_NAVCAN
0   APP_NW
0   DIST_TOWN
0   POWER_SUPL
0   POWER_DOM
0   POWER_AGR
0   POWER_OTH
0   POWER_ALL
0   PAP_MAG
0   A_INCEXP
0   TOT_INC
284   TOT_EXP
31   LAND_FORES
18   CANAL_GOVT
27   CANAL_PVT
58   WELL_WO_EL
59   WELL_W_EL
15   TW_WO_EL
13   TW_W_EL
43   TANK_IRR
35   RIVER_IRR
33   LAKE_IRR
24   W_FALL
23   OTH_IRR
8   TOT_IRR
14   UN_IRR
22   CULT_WASTE
73   AREA_NA_CU

In [91]:
complete_data_2001_preproc1.isna().sum().sum()

789

In [44]:
variables_to_be_picked_codes = ['ST_CODE','DIST_CODE','THSIL_CODE','BLOCK_CODE','V_CT_CODE','VILL_NAME']

In [54]:
variables_area = ['AREA','TOT_IRR','UN_IRR']

In [46]:
variables_water = ['DRNK_WAT_F','TAP','WELL','TANK','TUBEWELL','HANDPUMP','RIVER','CANAL','LAKE','SPRING']

In [47]:
variables_electricity = ['POWER_SUPL','POWER_DOM','POWER_AGR','POWER_OTH','POWER_ALL']

In [170]:
variables_comm = ['P_T_FAC','TELE_OFF','POST_TELE','PHONE','COMM_FAC','T_HH']

In [135]:
variables_transport = ['BS_FAC','RS_FAC','APP_PR','APP_MR','APP_FP']

In [50]:
variables_banking = ['BANK_FAC','COMM_BANK','COOP_BANK','CRSOC_FAC','AC_SOC','NAC_SOC']

In [51]:
variables_school = ['EDU_FAC','P_SCH','M_SCH','S_SCH','S_S_SCH','COLLEGE','ADLT_LT_CT']

In [59]:
variables_medical = ['MEDI_FAC','ALL_HOSP','ALL_DISP','MCW_CNTR','PH_CNTR','TB_CLN']

In [92]:
variable_others = ['RC_FAC','C_V_HALL']

In [171]:
variables = variables_to_be_picked_codes + variables_area + variables_water + variables_electricity + variables_comm + variables_transport + variables_banking + variables_school + variables_medical +variable_others

In [172]:
variables

['ST_CODE',
 'DIST_CODE',
 'THSIL_CODE',
 'BLOCK_CODE',
 'V_CT_CODE',
 'VILL_NAME',
 'AREA',
 'TOT_IRR',
 'UN_IRR',
 'DRNK_WAT_F',
 'TAP',
 'WELL',
 'TANK',
 'TUBEWELL',
 'HANDPUMP',
 'RIVER',
 'CANAL',
 'LAKE',
 'SPRING',
 'POWER_SUPL',
 'POWER_DOM',
 'POWER_AGR',
 'POWER_OTH',
 'POWER_ALL',
 'P_T_FAC',
 'TELE_OFF',
 'POST_TELE',
 'PHONE',
 'COMM_FAC',
 'T_HH',
 'BS_FAC',
 'RS_FAC',
 'APP_PR',
 'APP_MR',
 'APP_FP',
 'BANK_FAC',
 'COMM_BANK',
 'COOP_BANK',
 'CRSOC_FAC',
 'AC_SOC',
 'NAC_SOC',
 'EDU_FAC',
 'P_SCH',
 'M_SCH',
 'S_SCH',
 'S_S_SCH',
 'COLLEGE',
 'ADLT_LT_CT',
 'MEDI_FAC',
 'ALL_HOSP',
 'ALL_DISP',
 'MCW_CNTR',
 'PH_CNTR',
 'TB_CLN',
 'RC_FAC',
 'C_V_HALL']

In [173]:
len(variables)

56

In [174]:
complete_data_2001 = complete_data_2001_preproc1[variables]

In [175]:
complete_data_2001

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,TOT_IRR,UN_IRR,DRNK_WAT_F,...,COLLEGE,ADLT_LT_CT,MEDI_FAC,ALL_HOSP,ALL_DISP,MCW_CNTR,PH_CNTR,TB_CLN,RC_FAC,C_V_HALL
0,9,15,1,136,1563000,Sorai,364.0,329.0,135.0,1,...,0,0,2,0,0,0,0,0,2,0
1,9,15,1,136,1563100,Parbatpur,108.0,104.0,27.0,1,...,0,0,2,0,0,0,0,0,2,0
2,9,15,1,136,1563200,Pant Khara,372.0,331.0,104.0,1,...,0,0,1,0,0,1,0,0,2,0
3,9,15,1,136,1563300,Hazipur Khera,712.0,445.0,577.0,1,...,0,0,1,0,0,1,0,0,2,0
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,107.0,141.0,1,...,0,0,1,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,20.0,2.0,1,...,0,0,2,0,0,0,0,0,2,0
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,25.0,4.0,1,...,0,0,2,0,0,0,0,0,2,0
636,6,3,2,2,136600,YARAH (21),61.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
637,6,3,2,2,136700,TAHRI (27),103.0,32.0,44.0,1,...,0,0,2,0,0,0,0,0,2,0
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,59.0,167.0,1,...,0,0,2,0,0,0,0,0,2,0

In [176]:
complete_data_2001.isna().sum()

ST_CODE        0
DIST_CODE      0
THSIL_CODE     0
BLOCK_CODE     0
V_CT_CODE      0
VILL_NAME      0
AREA           9
TOT_IRR        8
UN_IRR        14
DRNK_WAT_F     0
TAP            0
WELL           0
TANK           0
TUBEWELL       0
HANDPUMP       0
RIVER          0
CANAL          0
LAKE           0
SPRING         0
POWER_SUPL     0
POWER_DOM      0
POWER_AGR      0
POWER_OTH      0
POWER_ALL      0
P_T_FAC        0
TELE_OFF       0
POST_TELE      0
PHONE          0
COMM_FAC       0
T_HH           0
BS_FAC         0
RS_FAC         0
APP_PR         0
APP_MR         0
APP_FP         0
BANK_FAC       0
COMM_BANK      0
COOP_BANK      0
CRSOC_FAC      0
AC_SOC         0
NAC_SOC        0
EDU_FAC        0
P_SCH          0
M_SCH          0
S_SCH          0
S_S_SCH        0
COLLEGE        0
ADLT_LT_CT     0
MEDI_FAC       0
ALL_HOSP       0
ALL_DISP       0
MCW_CNTR       0
PH_CNTR        0
TB_CLN         0
RC_FAC         0
C_V_HALL       0
dtype: int64

In [177]:
complete_data_2001.dropna()

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,TOT_IRR,UN_IRR,DRNK_WAT_F,...,COLLEGE,ADLT_LT_CT,MEDI_FAC,ALL_HOSP,ALL_DISP,MCW_CNTR,PH_CNTR,TB_CLN,RC_FAC,C_V_HALL
0,9,15,1,136,1563000,Sorai,364.0,329.0,135.0,1,...,0,0,2,0,0,0,0,0,2,0
1,9,15,1,136,1563100,Parbatpur,108.0,104.0,27.0,1,...,0,0,2,0,0,0,0,0,2,0
2,9,15,1,136,1563200,Pant Khara,372.0,331.0,104.0,1,...,0,0,1,0,0,1,0,0,2,0
3,9,15,1,136,1563300,Hazipur Khera,712.0,445.0,577.0,1,...,0,0,1,0,0,1,0,0,2,0
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,107.0,141.0,1,...,0,0,1,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,20.0,2.0,1,...,0,0,2,0,0,0,0,0,2,0
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,25.0,4.0,1,...,0,0,2,0,0,0,0,0,2,0
636,6,3,2,2,136600,YARAH (21),61.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
637,6,3,2,2,136700,TAHRI (27),103.0,32.0,44.0,1,...,0,0,2,0,0,0,0,0,2,0
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,59.0,167.0,1,...,0,0,2,0,0,0,0,0,2,0

In [178]:
complete_data_2001_final = complete_data_2001.dropna()

In [179]:
complete_data_2001_final

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,TOT_IRR,UN_IRR,DRNK_WAT_F,...,COLLEGE,ADLT_LT_CT,MEDI_FAC,ALL_HOSP,ALL_DISP,MCW_CNTR,PH_CNTR,TB_CLN,RC_FAC,C_V_HALL
0,9,15,1,136,1563000,Sorai,364.0,329.0,135.0,1,...,0,0,2,0,0,0,0,0,2,0
1,9,15,1,136,1563100,Parbatpur,108.0,104.0,27.0,1,...,0,0,2,0,0,0,0,0,2,0
2,9,15,1,136,1563200,Pant Khara,372.0,331.0,104.0,1,...,0,0,1,0,0,1,0,0,2,0
3,9,15,1,136,1563300,Hazipur Khera,712.0,445.0,577.0,1,...,0,0,1,0,0,1,0,0,2,0
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,107.0,141.0,1,...,0,0,1,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,20.0,2.0,1,...,0,0,2,0,0,0,0,0,2,0
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,25.0,4.0,1,...,0,0,2,0,0,0,0,0,2,0
636,6,3,2,2,136600,YARAH (21),61.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
637,6,3,2,2,136700,TAHRI (27),103.0,32.0,44.0,1,...,0,0,2,0,0,0,0,0,2,0
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,59.0,167.0,1,...,0,0,2,0,0,0,0,0,2,0

In [180]:
complete_data_2001_final.describe()

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,AREA,TOT_IRR,UN_IRR,DRNK_WAT_F,TAP,WELL,...,COLLEGE,ADLT_LT_CT,MEDI_FAC,ALL_HOSP,ALL_DISP,MCW_CNTR,PH_CNTR,TB_CLN,RC_FAC,C_V_HALL
count,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,2.455800e+05,245580.000000,245580.000000,245580.000000,...,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000,245580.000000
mean,11.911332,24.971655,6.236196,207.907012,230.608856,108.589383,7.121413e+01,0.916337,0.543293,0.827869,...,0.006597,0.091665,1.557733,0.016064,0.052358,0.068340,0.022958,0.001213,1.756132,0.021024
std,5.147879,20.024943,6.808783,395.052375,794.517282,872.865402,5.072395e+03,0.301131,0.756704,0.627258,...,0.082644,0.603482,0.654225,0.126561,0.384343,0.305834,0.150014,0.037948,0.604764,0.182914
min,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-2.700000e+02,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,9.000000,2.000000,6.000000,57.067500,4.350000,0.000000e+00,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,9.000000,17.000000,4.000000,17.000000,127.000000,40.000000,1.295000e+01,1.000000,0.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
75%,19.000000,37.000000,8.000000,405.000000,259.000000,117.000000,5.600000e+01,1.000000,1.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
max,20.000000,70.000000,54.000000,8888.000000,240240.000000,216819.498000,2.430455e+06,2.000000,2.000000,2.000000,...,3.000000,43.000000,2.000000,4.000000,31.000000,48.000000,3.000000,4.000000,2.000000,15.000000

In [181]:
variables

['ST_CODE',
 'DIST_CODE',
 'THSIL_CODE',
 'BLOCK_CODE',
 'V_CT_CODE',
 'VILL_NAME',
 'AREA',
 'TOT_IRR',
 'UN_IRR',
 'DRNK_WAT_F',
 'TAP',
 'WELL',
 'TANK',
 'TUBEWELL',
 'HANDPUMP',
 'RIVER',
 'CANAL',
 'LAKE',
 'SPRING',
 'POWER_SUPL',
 'POWER_DOM',
 'POWER_AGR',
 'POWER_OTH',
 'POWER_ALL',
 'P_T_FAC',
 'TELE_OFF',
 'POST_TELE',
 'PHONE',
 'COMM_FAC',
 'T_HH',
 'BS_FAC',
 'RS_FAC',
 'APP_PR',
 'APP_MR',
 'APP_FP',
 'BANK_FAC',
 'COMM_BANK',
 'COOP_BANK',
 'CRSOC_FAC',
 'AC_SOC',
 'NAC_SOC',
 'EDU_FAC',
 'P_SCH',
 'M_SCH',
 'S_SCH',
 'S_S_SCH',
 'COLLEGE',
 'ADLT_LT_CT',
 'MEDI_FAC',
 'ALL_HOSP',
 'ALL_DISP',
 'MCW_CNTR',
 'PH_CNTR',
 'TB_CLN',
 'RC_FAC',
 'C_V_HALL']

In [185]:
complete_data_2001_final['AC_SOC'].describe()

count    245580.000000
mean          0.100790
std           0.311357
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          19.000000
Name: AC_SOC, dtype: float64

In [183]:
complete_data_2001_final.to_csv('../data/Census_2001_VD_6states.csv',index=False)

In [184]:
complete_data_2001_final.dtypes

ST_CODE         int64
DIST_CODE       int64
THSIL_CODE      int64
BLOCK_CODE      int64
V_CT_CODE      object
VILL_NAME      object
AREA          float64
TOT_IRR       float64
UN_IRR        float64
DRNK_WAT_F      int64
TAP             int64
WELL            int64
TANK            int64
TUBEWELL        int64
HANDPUMP        int64
RIVER           int64
CANAL           int64
LAKE            int64
SPRING          int64
POWER_SUPL      int64
POWER_DOM       int64
POWER_AGR       int64
POWER_OTH       int64
POWER_ALL       int64
P_T_FAC         int64
TELE_OFF        int64
POST_TELE       int64
PHONE           int64
COMM_FAC        int64
T_HH            int64
BS_FAC          int64
RS_FAC          int64
APP_PR          int64
APP_MR          int64
APP_FP          int64
BANK_FAC        int64
COMM_BANK       int64
COOP_BANK       int64
CRSOC_FAC       int64
AC_SOC        float64
NAC_SOC         int64
EDU_FAC         int64
P_SCH           int64
M_SCH           int64
S_SCH           int64
S_S_SCH         int64
COLLEGE         int64
ADLT_LT_CT      int64
MEDI_FAC        int64
ALL_HOSP        int64
ALL_DISP        int64
MCW_CNTR        int64
PH_CNTR         int64
TB_CLN          int64
RC_FAC          int64
C_V_HALL        int64
dtype: object

In [186]:
complete_data_2001_req = complete_data_2001_final.copy()

In [187]:
complete_data_2001_req['no-of-cinema'] = complete_data_2001_req['C_V_HALL']

In [188]:
(complete_data_2001_req.groupby('SPRING').size())

SPRING
0    194512
1      1146
2     49922
dtype: int64

In [189]:
def convert(x):
    if (x==1):
        return 1
    return 0

In [190]:
complete_data_2001_req['TAP'] = complete_data_2001_req['TAP'].map(convert)

In [191]:
(complete_data_2001_req.groupby('POWER_ALL').size())

POWER_ALL
0     86244
1     54538
2    104798
dtype: int64

In [192]:
variables

['ST_CODE',
 'DIST_CODE',
 'THSIL_CODE',
 'BLOCK_CODE',
 'V_CT_CODE',
 'VILL_NAME',
 'AREA',
 'TOT_IRR',
 'UN_IRR',
 'DRNK_WAT_F',
 'TAP',
 'WELL',
 'TANK',
 'TUBEWELL',
 'HANDPUMP',
 'RIVER',
 'CANAL',
 'LAKE',
 'SPRING',
 'POWER_SUPL',
 'POWER_DOM',
 'POWER_AGR',
 'POWER_OTH',
 'POWER_ALL',
 'P_T_FAC',
 'TELE_OFF',
 'POST_TELE',
 'PHONE',
 'COMM_FAC',
 'T_HH',
 'BS_FAC',
 'RS_FAC',
 'APP_PR',
 'APP_MR',
 'APP_FP',
 'BANK_FAC',
 'COMM_BANK',
 'COOP_BANK',
 'CRSOC_FAC',
 'AC_SOC',
 'NAC_SOC',
 'EDU_FAC',
 'P_SCH',
 'M_SCH',
 'S_SCH',
 'S_S_SCH',
 'COLLEGE',
 'ADLT_LT_CT',
 'MEDI_FAC',
 'ALL_HOSP',
 'ALL_DISP',
 'MCW_CNTR',
 'PH_CNTR',
 'TB_CLN',
 'RC_FAC',
 'C_V_HALL']

In [193]:
yes_no_variables = ['DRNK_WAT_F',
 'TAP',
 'WELL',
 'TANK',
 'TUBEWELL',
 'HANDPUMP',
 'RIVER',
 'CANAL',
 'LAKE',
 'SPRING',
 'POWER_SUPL',
 'POWER_DOM',
 'POWER_AGR',
 'POWER_OTH',
 'POWER_ALL',
 'P_T_FAC',
 'COMM_FAC',
 'BS_FAC',
 'RS_FAC',
 'APP_PR',
 'APP_MR',
 'APP_FP',
 'BANK_FAC',
 'CRSOC_FAC',
 'EDU_FAC',
 'MEDI_FAC', 
 'RC_FAC']

In [194]:
yes_no_variables

['DRNK_WAT_F',
 'TAP',
 'WELL',
 'TANK',
 'TUBEWELL',
 'HANDPUMP',
 'RIVER',
 'CANAL',
 'LAKE',
 'SPRING',
 'POWER_SUPL',
 'POWER_DOM',
 'POWER_AGR',
 'POWER_OTH',
 'POWER_ALL',
 'P_T_FAC',
 'COMM_FAC',
 'BS_FAC',
 'RS_FAC',
 'APP_PR',
 'APP_MR',
 'APP_FP',
 'BANK_FAC',
 'CRSOC_FAC',
 'EDU_FAC',
 'MEDI_FAC',
 'RC_FAC']

In [195]:
for ele in yes_no_variables:
    print(ele)

DRNK_WAT_F
TAP
WELL
TANK
TUBEWELL
HANDPUMP
RIVER
CANAL
LAKE
SPRING
POWER_SUPL
POWER_DOM
POWER_AGR
POWER_OTH
POWER_ALL
P_T_FAC
COMM_FAC
BS_FAC
RS_FAC
APP_PR
APP_MR
APP_FP
BANK_FAC
CRSOC_FAC
EDU_FAC
MEDI_FAC
RC_FAC

In [196]:
i = 0
for ele in yes_no_variables:
    complete_data_2001_req[ele] = complete_data_2001_req[ele].map(convert)
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [197]:
(complete_data_2001_req.groupby('POWER_ALL').size())

POWER_ALL
0    191042
1     54538
dtype: int64

In [198]:
(complete_data_2001_req.groupby('TAP').size())

TAP
0    191842
1     53738
dtype: int64

In [199]:
complete_data_2001_req['water-treated'] = complete_data_2001_req['TAP'] + complete_data_2001_req['TANK'] + complete_data_2001_req['TUBEWELL']

In [200]:
complete_data_2001_req['water-untreated'] = complete_data_2001_req['WELL'] + complete_data_2001_req['HANDPUMP']

In [201]:
complete_data_2001_req['water-natural'] = complete_data_2001_req['RIVER'] + complete_data_2001_req['CANAL'] + complete_data_2001_req['LAKE'] + complete_data_2001_req['SPRING']

In [202]:
complete_data_2001_req['electricity-supply'] = complete_data_2001_req['POWER_ALL']

In [203]:
complete_data_2001_req['light-from-oil'] = 1 - (complete_data_2001_req['POWER_ALL'] + complete_data_2001_req['POWER_DOM'])

In [204]:
complete_data_2001_req['PHONE'].describe()

count    245580.000000
mean          2.543782
std          16.195049
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        4000.000000
Name: PHONE, dtype: float64

In [205]:
complete_data_2001_req['T_HH'].describe()

count    245580.000000
mean        216.318059
std         307.862562
min           0.000000
25%          51.000000
50%         129.000000
75%         267.000000
max       18907.000000
Name: T_HH, dtype: float64

In [206]:
complete_data_2001_req['has-phone'] = complete_data_2001_req['PHONE'] / complete_data_2001_req['T_HH']

In [207]:
complete_data_2001_req['pucca-road'] = complete_data_2001_req['APP_PR']

In [208]:
complete_data_2001_req['kuccha-road'] = complete_data_2001_req['APP_MR']

In [209]:
complete_data_2001_req['transport-services'] = complete_data_2001_req['BS_FAC'] + complete_data_2001_req['RS_FAC']

In [212]:
complete_data_2001_req['no-of-bank'] = complete_data_2001_req['COMM_BANK'] + complete_data_2001_req['COOP_BANK']

In [213]:
complete_data_2001_req['no-of-credit-societies'] = complete_data_2001_req['AC_SOC'] + complete_data_2001_req['NAC_SOC']

In [214]:
complete_data_2001_req['no-of-primary-school'] = complete_data_2001_req['P_SCH']

In [215]:
complete_data_2001_req['no-of-sen-sec-school'] = complete_data_2001_req['S_S_SCH']

In [216]:
complete_data_2001_req['no-of-hospital'] = complete_data_2001_req['ALL_HOSP']

In [217]:
complete_data_2001_req['no-of-phc'] = complete_data_2001_req['PH_CNTR']

In [218]:
complete_data_2001_req['frac_area_irrigated'] = complete_data_2001_req['TOT_IRR'] / complete_data_2001_req['AREA']

In [219]:
complete_data_2001_req

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,TOT_IRR,UN_IRR,DRNK_WAT_F,...,pucca-road,kuccha-road,transport-services,no-of-bank,no-of-credit-societies,no-of-primary-school,no-of-sen-sec-school,no-of-hospital,no-of-phc,frac_area_irrigated
0,9,15,1,136,1563000,Sorai,364.0,329.0,135.0,1,...,1,0,0,0,0.0,2,0,0,0,0.903846
1,9,15,1,136,1563100,Parbatpur,108.0,104.0,27.0,1,...,1,0,0,0,0.0,1,0,0,0,0.962963
2,9,15,1,136,1563200,Pant Khara,372.0,331.0,104.0,1,...,1,0,0,0,1.0,1,0,0,0,0.889785
3,9,15,1,136,1563300,Hazipur Khera,712.0,445.0,577.0,1,...,1,0,0,0,0.0,2,0,0,0,0.625000
4,9,15,1,136,1563400,Sarai Day Ruppa,109.0,107.0,141.0,1,...,0,1,0,0,0.0,1,0,0,0,0.981651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),26.0,20.0,2.0,1,...,1,0,1,0,0.0,0,0,0,0,0.769231
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),32.0,25.0,4.0,1,...,1,1,1,0,0.0,0,0,0,0,0.781250
636,6,3,2,2,136600,YARAH (21),61.0,0.0,0.0,0,...,0,0,0,0,0.0,0,0,0,0,0.000000
637,6,3,2,2,136700,TAHRI (27),103.0,32.0,44.0,1,...,1,1,0,0,0.0,0,0,0,0,0.310680
638,6,3,2,2,136800,IBRAHIMPUR (29),273.0,59.0,167.0,1,...,1,1,1,0,0.0,1,0,0,0,0.216117

In [220]:
def count_to_bin(x):
    if(x>0):
        return 1
    return 0

In [221]:
complete_data_2001_req['bank_availability'] = complete_data_2001_req['no-of-bank'].map(count_to_bin)

In [222]:
complete_data_2001_req['credit_soc_availability'] = complete_data_2001_req['no-of-credit-societies'].map(count_to_bin)

In [223]:
complete_data_2001_req['primary-school'] = complete_data_2001_req['no-of-primary-school'].map(count_to_bin)

In [224]:
complete_data_2001_req['sen-sec-school'] = complete_data_2001_req['no-of-sen-sec-school'].map(count_to_bin)

In [225]:
complete_data_2001_req['hospital'] = complete_data_2001_req['no-of-hospital'].map(count_to_bin)

In [226]:
complete_data_2001_req['phc'] = complete_data_2001_req['no-of-phc'].map(count_to_bin)

In [232]:
variables_created = ['no-of-cinema','water-treated','water-untreated','water-natural','electricity-supply','light-from-oil','has-phone','pucca-road','kuccha-road','transport-services','bank_availability','credit_soc_availability','primary-school','sen-sec-school','hospital','phc','frac_area_irrigated']

In [228]:
variables_created

['no-of-cinema',
 'water-treated',
 'water-untreated',
 'water-natural',
 'electricity-supply',
 'light-from-oil',
 'has-phone',
 'pucca-road',
 'kuccha-road',
 'transport-services',
 'bank_availability',
 'credit_soc_availability',
 'primary-school',
 'sen-sec-school',
 'hospital',
 'phc',
 'frac_area_irrigated']

In [229]:
variables_codes = ['ST_CODE','DIST_CODE','THSIL_CODE','BLOCK_CODE','V_CT_CODE','VILL_NAME']

In [230]:
subset_var = variables_codes + variables_created

In [240]:
asset_data_2001 = complete_data_2001_req[subset_var].copy()

In [241]:
asset_data_2001

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,no-of-cinema,water-treated,water-untreated,water-natural,...,pucca-road,kuccha-road,transport-services,bank_availability,credit_soc_availability,primary-school,sen-sec-school,hospital,phc,frac_area_irrigated
0,9,15,1,136,1563000,Sorai,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0.903846
1,9,15,1,136,1563100,Parbatpur,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0.962963
2,9,15,1,136,1563200,Pant Khara,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0.889785
3,9,15,1,136,1563300,Hazipur Khera,0,1,1,0,...,1,0,0,0,0,1,0,0,0,0.625000
4,9,15,1,136,1563400,Sarai Day Ruppa,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0.981651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,6,3,2,2,136400,SHAHBUDINPUR KHURD(23),0,1,2,0,...,1,0,1,0,0,0,0,0,0,0.769231
635,6,3,2,2,136500,SHABUDINPUR KALAN(22),0,2,1,0,...,1,1,1,0,0,0,0,0,0,0.781250
636,6,3,2,2,136600,YARAH (21),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
637,6,3,2,2,136700,TAHRI (27),0,2,2,0,...,1,1,0,0,0,0,0,0,0,0.310680
638,6,3,2,2,136800,IBRAHIMPUR (29),0,1,0,0,...,1,1,1,0,0,1,0,0,0,0.216117

In [242]:
asset_data_2001['villageid_2001'] = '{:02}'.format(asset_data_2001['ST_CODE']) + '{:02}'.format(asset_data_2001['DIST_CODE']) + '{:04}'.format(asset_data_2001['THSIL_CODE']) + '{:08}'.format(asset_data_2001['V_CT_CODE'])

TypeError: unsupported format string passed to Series.__format__

In [243]:
def con_st(x):
    return '{:02}'.format(x)

In [244]:
def con_dist(x):
    return '{:02}'.format(x)

In [245]:
def con_teh(x):
    return '{:04}'.format(x)

In [254]:
def con_vil(x):
    x = str(x)
    req_z = 8 - len(x)
    ans = ('0'*req_z) + x
    return ans

In [247]:
asset_data_2001['ST_CODE'] = asset_data_2001['ST_CODE'].map(con_st)

In [248]:
asset_data_2001['DIST_CODE'] = asset_data_2001['DIST_CODE'].map(con_dist)

In [249]:
asset_data_2001['THSIL_CODE'] = asset_data_2001['THSIL_CODE'].map(con_teh)

In [255]:
asset_data_2001['V_CT_CODE'] = asset_data_2001['V_CT_CODE'].map(con_vil)

In [256]:
asset_data_2001

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,no-of-cinema,water-treated,water-untreated,water-natural,...,pucca-road,kuccha-road,transport-services,bank_availability,credit_soc_availability,primary-school,sen-sec-school,hospital,phc,frac_area_irrigated
0,09,15,0001,136,01563000,Sorai,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0.903846
1,09,15,0001,136,01563100,Parbatpur,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0.962963
2,09,15,0001,136,01563200,Pant Khara,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0.889785
3,09,15,0001,136,01563300,Hazipur Khera,0,1,1,0,...,1,0,0,0,0,1,0,0,0,0.625000
4,09,15,0001,136,01563400,Sarai Day Ruppa,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0.981651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,06,03,0002,2,00136400,SHAHBUDINPUR KHURD(23),0,1,2,0,...,1,0,1,0,0,0,0,0,0,0.769231
635,06,03,0002,2,00136500,SHABUDINPUR KALAN(22),0,2,1,0,...,1,1,1,0,0,0,0,0,0,0.781250
636,06,03,0002,2,00136600,YARAH (21),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
637,06,03,0002,2,00136700,TAHRI (27),0,2,2,0,...,1,1,0,0,0,0,0,0,0,0.310680
638,06,03,0002,2,00136800,IBRAHIMPUR (29),0,1,0,0,...,1,1,1,0,0,1,0,0,0,0.216117

In [257]:
asset_data_2001['villageid_2001'] = asset_data_2001['ST_CODE'] + asset_data_2001['DIST_CODE'] + asset_data_2001['THSIL_CODE'] + asset_data_2001['V_CT_CODE']

In [258]:
asset_data_2001

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,no-of-cinema,water-treated,water-untreated,water-natural,...,kuccha-road,transport-services,bank_availability,credit_soc_availability,primary-school,sen-sec-school,hospital,phc,frac_area_irrigated,villageid_2001
0,09,15,0001,136,01563000,Sorai,0,0,1,0,...,0,0,0,0,1,0,0,0,0.903846,0915000101563000
1,09,15,0001,136,01563100,Parbatpur,0,0,1,0,...,0,0,0,0,1,0,0,0,0.962963,0915000101563100
2,09,15,0001,136,01563200,Pant Khara,0,0,1,0,...,0,0,0,1,1,0,0,0,0.889785,0915000101563200
3,09,15,0001,136,01563300,Hazipur Khera,0,1,1,0,...,0,0,0,0,1,0,0,0,0.625000,0915000101563300
4,09,15,0001,136,01563400,Sarai Day Ruppa,0,0,1,0,...,1,0,0,0,1,0,0,0,0.981651,0915000101563400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,06,03,0002,2,00136400,SHAHBUDINPUR KHURD(23),0,1,2,0,...,0,1,0,0,0,0,0,0,0.769231,0603000200136400
635,06,03,0002,2,00136500,SHABUDINPUR KALAN(22),0,2,1,0,...,1,1,0,0,0,0,0,0,0.781250,0603000200136500
636,06,03,0002,2,00136600,YARAH (21),0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0603000200136600
637,06,03,0002,2,00136700,TAHRI (27),0,2,2,0,...,1,0,0,0,0,0,0,0,0.310680,0603000200136700
638,06,03,0002,2,00136800,IBRAHIMPUR (29),0,1,0,0,...,1,1,0,0,1,0,0,0,0.216117,0603000200136800

In [259]:
asset_data_2001 = asset_data_2001[['villageid_2001'] + subset_var]

In [260]:
asset_data_2001

,villageid_2001,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,no-of-cinema,water-treated,water-untreated,...,pucca-road,kuccha-road,transport-services,bank_availability,credit_soc_availability,primary-school,sen-sec-school,hospital,phc,frac_area_irrigated
0,0915000101563000,09,15,0001,136,01563000,Sorai,0,0,1,...,1,0,0,0,0,1,0,0,0,0.903846
1,0915000101563100,09,15,0001,136,01563100,Parbatpur,0,0,1,...,1,0,0,0,0,1,0,0,0,0.962963
2,0915000101563200,09,15,0001,136,01563200,Pant Khara,0,0,1,...,1,0,0,0,1,1,0,0,0,0.889785
3,0915000101563300,09,15,0001,136,01563300,Hazipur Khera,0,1,1,...,1,0,0,0,0,1,0,0,0,0.625000
4,0915000101563400,09,15,0001,136,01563400,Sarai Day Ruppa,0,0,1,...,0,1,0,0,0,1,0,0,0,0.981651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,0603000200136400,06,03,0002,2,00136400,SHAHBUDINPUR KHURD(23),0,1,2,...,1,0,1,0,0,0,0,0,0,0.769231
635,0603000200136500,06,03,0002,2,00136500,SHABUDINPUR KALAN(22),0,2,1,...,1,1,1,0,0,0,0,0,0,0.781250
636,0603000200136600,06,03,0002,2,00136600,YARAH (21),0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
637,0603000200136700,06,03,0002,2,00136700,TAHRI (27),0,2,2,...,1,1,0,0,0,0,0,0,0,0.310680
638,0603000200136800,06,03,0002,2,00136800,IBRAHIMPUR (29),0,1,0,...,1,1,1,0,0,1,0,0,0,0.216117

In [261]:
out_file = "../data/census_2001_6states_cleaned.csv"

In [262]:
asset_data_2001.to_csv(out_file,index=False)

In [264]:
asset_data_2001.isna().sum()

villageid_2001                 0
ST_CODE                        0
DIST_CODE                      0
THSIL_CODE                     0
BLOCK_CODE                     0
V_CT_CODE                      0
VILL_NAME                      0
no-of-cinema                   0
water-treated                  0
water-untreated                0
water-natural                  0
electricity-supply             0
light-from-oil                 0
has-phone                  22261
pucca-road                     0
kuccha-road                    0
transport-services             0
bank_availability              0
credit_soc_availability        0
primary-school                 0
sen-sec-school                 0
hospital                       0
phc                            0
frac_area_irrigated         8382
dtype: int64

In [265]:
asset_data_2001 = asset_data_2001.dropna()

In [266]:
asset_data_2001

,villageid_2001,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,no-of-cinema,water-treated,water-untreated,...,pucca-road,kuccha-road,transport-services,bank_availability,credit_soc_availability,primary-school,sen-sec-school,hospital,phc,frac_area_irrigated
0,0915000101563000,09,15,0001,136,01563000,Sorai,0,0,1,...,1,0,0,0,0,1,0,0,0,0.903846
1,0915000101563100,09,15,0001,136,01563100,Parbatpur,0,0,1,...,1,0,0,0,0,1,0,0,0,0.962963
2,0915000101563200,09,15,0001,136,01563200,Pant Khara,0,0,1,...,1,0,0,0,1,1,0,0,0,0.889785
3,0915000101563300,09,15,0001,136,01563300,Hazipur Khera,0,1,1,...,1,0,0,0,0,1,0,0,0,0.625000
4,0915000101563400,09,15,0001,136,01563400,Sarai Day Ruppa,0,0,1,...,0,1,0,0,0,1,0,0,0,0.981651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,0603000200136300,06,03,0002,2,00136300,FAQIRA MAJRA (24),0,2,2,...,1,0,1,0,0,0,0,0,0,0.411765
634,0603000200136400,06,03,0002,2,00136400,SHAHBUDINPUR KHURD(23),0,1,2,...,1,0,1,0,0,0,0,0,0,0.769231
635,0603000200136500,06,03,0002,2,00136500,SHABUDINPUR KALAN(22),0,2,1,...,1,1,1,0,0,0,0,0,0,0.781250
637,0603000200136700,06,03,0002,2,00136700,TAHRI (27),0,2,2,...,1,1,0,0,0,0,0,0,0,0.310680
638,0603000200136800,06,03,0002,2,00136800,IBRAHIMPUR (29),0,1,0,...,1,1,1,0,0,1,0,0,0,0.216117

In [267]:
asset_data_2001.to_csv(out_file,index=False)